---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" 
        xmlns:xhtml="http://www.w3.org/1999/xhtml">

{%- for p in collections.all %}
  {%- if p.url 
        and p.url != '/' 
        and p.url != '/index.html' 
        and p.data.sitemap != false 
        and (p.data.eleventyExcludeFromCollections != true or p.url == '/sitemap.xml') 
        and p.url != '/sitemap.xml'
        and not p.url.includes('/al/')
  -%}

  <url>
    <loc>{{ site.canonicalBase }}{{ p.url }}</loc>

    {%- if p.data.langLinks %}
      {%- for code, link in p.data.langLinks %}
        <xhtml:link 
          rel="alternate" 
          hreflang="{{ code }}" 
          href="{{ site.canonicalBase }}{{ link }}" />
      {%- endfor %}

      <xhtml:link 
        rel="alternate" 
        hreflang="x-default" 
        href="{{ site.canonicalBase }}/en/" />
    {%- endif %}
  </url>

  {%- endif -%}
{%- endfor %}

</urlset>

